.Intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

/* left side styling */
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
.i-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3),.i-name >:nth-child(3) :nth-child(1) {
  font-weight: 100;
  font-size: 2rem;
  color: var(--gray);
  margin-top: 10px;
}
.typed-cursor {
  font-size: 2rem; /* Adjust to match the text size */
  color: var(--orange); /* Change to your desired color */
  animation: blink 0.7s infinite; /* Ensure the cursor blinks */
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}
.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
/* right side styling */
.i-right {
  flex: 1;
  position: relative;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
/* .i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: -9%;
} */
/* .i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3rem;
  background-color: transparent;
} */

.i-right>:nth-child(2){
  left: 4rem;
  top: 19rem;
  font-size: 20px;
}


.main-container{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-container .image{
  width: 400px;
  height: 57vh;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px  rgb(45, 45, 176);
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}
/* floating div */
.i-right>:nth-child(2){

  border-radius:17px;
  overflow: hidden;
  animation-name: moveRight;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

.main-container .image img{
  width: 100%;

}

/* animation of photo */
@keyframes superman {
  0% {

    transform: translate(0, 0px);
    box-shadow: 7px 7px 50px 10px rgb(12, 12, 199);
  }

  25% {
    /* transform: translate(0, 8px); */
    /* box-shadow: 0 0 50px  rgb(45, 45, 176); */
  }

  50% {
   
    transform: translate(0, 15px);
    box-shadow: 7px 7px 50px 10px rgb(12, 12, 199);
  }

  75% {
    /* transform: translate(0, 8px); */
    /* box-shadow: 7px 7px 100px 50px rgb(12, 12, 199); */
  }

  100% {

    transform: translate(0, -0px);
    box-shadow: 7px 7px 50px 10px rgb(12, 12, 199);
  }
}
/* @keyframes animate {
  0%{
      scale: 1;
  }
  
  50%{
      scale: 1.05;
  }
  
  100%{
      scale: 1;
  }
} */
@keyframes moveRight {
  0% {
    transform: translate(0, 0);
    box-shadow: 7px 7px 50px 10px rgb(12, 12, 199);
  }

  /* 25% {
    transform: translate(15px, 0);
    box-shadow: 10px 7px 50px 10px rgb(12, 12, 199);
  } */

  50% {
    transform: translate(15px, 0);
    box-shadow: 12px 7px 50px 10px rgb(12, 12, 199);
  }

  /* 75% {
    transform: translate(15px, 0);
    box-shadow: 10px 7px 50px 10px rgb(12, 12, 199);
  } */

  100% {
    transform: translate(0, 0);
    box-shadow: 7px 7px 50px 10px rgb(12, 12, 199);
  }
}





@media (max-width:1920px) and (max-height:850px) {
  .main-container .image {
    z-index: -1;
    width: 374px;
    height: 55vh;
  }
.main-container {
  width: 100%;
  height: 53%;
}
}
/* ======================================== */
@media (max-width:1000px)and (max-height:850px) {
  .i-right>:nth-child(2) {
    left: 5rem;
    top: 14.7rem;
  }
  .main-container .image{
    z-index: -1;
    width: 300px;
    height: 41vh;
  }
.main-container {
  width: 100%;
  height: 46%;
}
.i-name > :nth-child(1) {
  font-size: 2.5rem;
}
.i-name > :nth-child(2) {
  font-size: 2.5rem;
}
.i-name > :nth-child(3) {
  font-size: 1.8rem;
}

}
/* ======================================== */
@media (max-width:805px)and (max-height:850px) {
  .i-right>:nth-child(2) {
    left: 3rem;
    top: 14.5rem;
  }
  .main-container .image{
    z-index: -1;
    width: 266px;
    height: 37vh;
  }
.main-container {
  width: 100%;
  height: 49%;
}
.i-name > :nth-child(1) {
  font-size: 2.2rem;
}
.i-name > :nth-child(2) {
  font-size: 2.2rem;
}
.i-name > :nth-child(3) {
  font-size: 1.6rem;
}
}
/* ======================================== */
@media (max-width:750px) {
  .i-right>:nth-child(2) {
    left: 3rem;
    top: 11rem;
  }
  .main-container .image{
    z-index: -1;
    width: 178px;
    height: 25vh;
  }
  .button {
    text-align: center;
    justify-content: center;
    min-width:6.5rem;
    margin-top: 0px;
  }
.main-container {
  width: 100%;
  height:38%;
}
.i-name > :nth-child(1) {
  font-size: 1.5rem;
}
.i-name > :nth-child(2) {
  font-size: 1.5rem;
}
.i-name > :nth-child(3) {
  font-size: 1rem;
}
/* for typing text */
.i-name > :nth-child(3), .i-name >:nth-child(3) :nth-child(1){
  font-weight: 100;
    font-size: 1rem;
    color: var(--gray);
    margin-top: 0px;
}
/* for button */
.i-button {
  width: 5rem;
  height: 1.5rem;
}
.button{
  font-size: 13px;
    padding: 3px 18px 5px 18px;
}
.i-left {
      gap: 0rem;
}
}
/* ======================================== */
@media screen and (max-width: 575px) {
 
  .i-right>:nth-child(2) {
    left: 3rem;
    top: 10rem;
  }
  
  .main-container .image{
    z-index: -1;
    width: 300px;
    height: 42vh;
  }
  .main-container {
    height: 0%;;
  }
  .Intro {
    flex-direction: column;
    /* align-items: center; */
    float: right;
    height: 41rem;
  }

  .i-right {
    transform: scale(0.8);
    left: -3rem;
  }
  .i-right .blur {
    display: none;
  }
  .floating-div:nth-of-type(1){
    /* display: none; */
    top: -7rem !important;


  }
  .i-icons {
    margin-top: 2rem;
    display: flex;
    gap: 0rem;
    height: 0vh;
    margin-left: -6%;
  }
}


